.git
.gitignore
.env
.env.*
**/.env
**/.env.*
venv
.venv
**/venv
**/.venv
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyright/
storage/
docker/volumes/
study/
*.log
*.pem
.DS_Store
